<h1>Write rss feed url please</h1>

<form action="{% url 'map_rss_post' %}" method="post">
{% csrf_token %}
<input type="text" name="url" />
<select name="adapter">
    {% for adapter in adapters %}
        <option value="adapter">
            {{adapter}}
        </option>
     {% endfor %}
</select>
<input type="submit" value="Map url" />
</form>
